<section id="two" class="main style2 left secondary">
	<div class="content container">
		<div class="box container 75%">
		<header>
			<h2>Login Here</h2>
			
		</header>
		<p>Get in touch with us. </p>
		<!-- Contact Form -->
				<form name="myForm" >
					<div class="row 50%">
						<div class="12u 12u(mobile)">
                            <input type="text" name="myName" for="myName" ng-model="myName" placeholder="UserName" required/>
                            <span style="color:red" ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span>
                        </div>
						<div class="12u 12u(mobile)">
                            <input type="password" name="password" for="password" ng-model="password" placeholder="Password" required/>
                            <span style="color:red" ng-show="myForm.password.$touched && myForm.password.$invalid">The Password is required.</span>
                        </div>
					</div>
					<div class="row">
						<div class="12u">
							<ul class="actions">
								<li><input type="submit" ng-disabled="myForm.myName.$dirty && myForm.myName.$invalid ||
  myForm.password.$dirty && myForm.password.$invalid" value="Enter your World" /></li>
							</ul>
						</div>
					</div>
				</form>
			<h4>Partial Page loaded at : {{loadedTime | date:'hh:mm:ss a'}}</h4>
		</div>
	</div>
</section>
	

